<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.wss.bs.dao.SeatDao">
    <insert id="insertSeat" parameterType="cn.wss.bs.entity.Seat">
        insert into BS_Seat(St_Id,St_TBid,St_Crid,St_Content,St_State,St_Str)
          value(#{id},#{tbid},#{crid},#{content},#{state},#{str})
    </insert>

    <select id="findSeatAccurately" resultType="cn.wss.bs.entity.Seat">
        select St_Id as id,St_TBid as tbid,St_Crid as crid,St_Content as content,St_State as state,St_Str as str from BS_Seat
        where St_Id=#{id} and St_TBid=#{tbid} and St_Crid=#{crid}
    </select>

    <select id="findSeatAccuratelyWithState" resultType="cn.wss.bs.entity.Seat">
        select St_Id as id,St_TBid as tbid,St_Crid as crid,St_Content as content,St_State as state,St_Str as str from BS_Seat
        where St_Id=#{id} and St_TBid=#{tbid} and St_Crid=#{crid} and St_State=#{state}
    </select>

    <update id="updateSeat">
        update BS_Seat set St_Content=#{content},St_State=#{state},TB_Str=#{str} where St_Id=#{id} and St_TBid=#{tbid} and St_Crid=#{crid}
    </update>

    <delete id="deleteSeat">
        delete from BS_Seat where St_Id=#{id} and St_TBid=#{tbid} and St_Crid=#{crid}
    </delete>

    <delete id="deleteSeatByTbId">
        delete from BS_Seat where St_TBid=#{tbid}
    </delete>

    <delete id="deleteSeatByCrId">
        delete from BS_Seat where St_TBid=#{tbid} and St_Crid=#{crid}
    </delete>

    <select id="getAllSeats" resultType="cn.wss.bs.entity.Seat">
        select St_Id as id,St_TBid as tbid,St_Crid as crid,St_Content as content,St_State as state,St_Str as str from BS_Seat
    </select>

    <select id="getSeatsByTbId" resultType="cn.wss.bs.entity.Seat">
        select St_Id as id,St_TBid as tbid,St_Crid as crid,St_Content as content,St_State as state,St_Str as str from BS_Seat
        where St_TBid=#{tbid}
    </select>

    <select id="getSeatsByCrId" resultType="cn.wss.bs.entity.Seat">
        select St_Id as id,St_TBid as tbid,St_Crid as crid,St_Content as content,St_State as state,St_Str as str from BS_Seat
        where St_TBid=#{tbid} and St_Crid=#{crid}
    </select>

    <select id="getSeatsWithState" resultType="cn.wss.bs.entity.Seat">
        select St_Id as id,St_TBid as tbid,St_Crid as crid,St_Content as content,St_State as state,St_Str as str from BS_Seat
        where St_State=#{state}
    </select>

    <select id="getSeatsByTbIdWithState" resultType="cn.wss.bs.entity.Seat">
        select St_Id as id,St_TBid as tbid,St_Crid as crid,St_Content as content,St_State as state,St_Str as str from BS_Seat
        where St_TBid=#{tbid} and St_State=#{state}
    </select>

    <select id="getSeatsByCrIdWithState" resultType="cn.wss.bs.entity.Seat">
        select St_Id as id,St_TBid as tbid,St_Crid as crid,St_Content as content,St_State as state,St_Str as str from BS_Seat
        where St_TBid=#{tbid} and St_Crid=#{crid} and St_State=#{state}
    </select>

    <insert id="insertSeats" parameterType="java.util.List">
        insert into BS_Seat(St_Id,St_TBid,St_Crid,St_Content,St_State,St_Str)
        values
        <foreach collection="list" item="item" index="index" separator=",">
          (#{item.id},#{item.tbid},#{item.crid},#{item.content},#{item.state},#{item.str})
        </foreach>
    </insert>
</mapper>