<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.wss.bs.dao.TeachBuildingDao">
    <insert id="insertTeachBuilding" parameterType="cn.wss.bs.entity.TeachBuilding">
        insert into bs_teachingbuilding(TB_Id,TB_Name,TB_Content,TB_Str)
        values (#{id},#{name},#{content},#{str})
    </insert>

    <select id="findTeachBuildingById" resultType="cn.wss.bs.entity.TeachBuilding">
        select TB_Id as id, TB_Name as name,TB_Content as content,TB_Str as str,TB_CreateTime as createTime,TB_UpdateTime as updateTime from bs_teachingbuilding where TB_Id=#{id}
    </select>

    <update id="updateTeachBuilding">
        update bs_teachingbuilding set TB_Id=#{id},TB_Name=#{name},TB_Content=#{content},TB_Str=#{str} where TB_Id=#{id}
    </update>

    <delete id="deleteTeachBuildingById">
        delete from bs_teachingbuilding where TB_Id=#{id}
    </delete>

    <select id="getAllTeachBuilding" resultType="cn.wss.bs.entity.TeachBuilding">
        select TB_Id as id, TB_Name as name,TB_Content as content,TB_Str as str,TB_CreateTime as createTime,TB_UpdateTime as updateTime from bs_teachingbuilding
    </select>
</mapper>